html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.img-item {
  display: inline-block;
  margin-right: 7px;
}

.img-item img {
  display: inline-block;
  width: 310px;
  height: 310px;
  left: 0;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 15px #a8b4fc30;
  margin-bottom: 1rem;
}
.btn-purple {
  background: #faa7b7;
}
.btn-red {
  background: #ea4c89;
}
.btn {
  color: #fff;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
}

.btn:hover {
  background: #a8b4fc;
  box-shadow: 5px 2px 15px #a8b4fc80;
}

.btn-home {
  margin-top: 2rem;
}

.product {
  display: flex;
  align-items: center;
}

.images {
  padding: 30px;
  background: white;
  border-radius: 20px;
}

.list-img {
  overflow: hidden;
  animation: show 0.8s ease;
  text-align: center;
  margin-top: 3rem;
  padding: 0 15px;
}

.product-content {
  background: white;
  width: 47vh;
  padding: 30px;
  border-radius: 20px;
  margin-left: 0.7rem;
}

.product-img {
  display: inline-block;
  width: 100%;
  left: 0;
  object-fit: cover;
  border-radius: 20px;
}

.list-thumbnail {
  width: 100%;
  overflow-x: auto;
}

.list-thumbnail img {
  object-fit: cover;
  margin-right: 0.7rem;
  border-radius: 20px;
  margin-top: 30px;
}

.product-price {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  color: #473889;
  font-size: 27px;
  line-height: 17px;
}

.price.discount {
  font-size: 20px;
  text-decoration: line-through;
  color: gray;
}

.mg-bt-2 {
  margin-bottom: 2rem;
}
.mg-bt-1 {
  margin-bottom: 1rem;
}
.images {
  position: relative;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #fff0fcbd;
  }
}
